.border-box{
    @include vendors(box-sizing, border-box);
}

.background-cover{
    @include vendors(background-size, cover);
}

.pega-imagem{
    background-color: transparent;
    background-repeat: no-repeat;
    @extend .background-cover;
    background-position: center center;
    @include vendors(backgorund-size, countain);
    @extend .pega-imagem;
}

.sem-box-shadow{
    @include vendors(box-shadow, none);
}