@mixin vendors($atributo, $valor){
	-webkit-#{$atributo}: #{$valor};
	-moz-#{$atributo}: #{$valor};
	-ms-#{$atributo}: #{$valor};
	-o-#{$atributo}: #{$valor};
	#{$atributo}: #{$valor};
}

@mixin espacamento($margin:0, $padding:0){
    margin: $margin;
    padding: $padding;
}

@mixin icones($tamanho:32px){
    width: $tamanho;
    height: $tamanho;
    @include espacamento(0.5em, 0);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

@mixin border-radius($valor: 0){
    @include vendors(border-radius, $valor);
}