$cor-verde-padrao: #13846B;	// Main Primary color */
$cor-verde-bem-claro: #75C1B0;
$cor-verde-claro: #369882;
$cor-verde-escuro: #03634E;
$cor-verde-bem-escuro: #003B2E;

$cor-laranja-padrao: #F39200;	// Main Primary color */
$cor-bem-claro: #FFCE85;
$cor-laranja-claro: #FFB443;
$cor-laranja-escuro: #B26B00;
$cor-laranja-bem-escuro: #724400;

$cor-cinza-padrao: #444444;	// Main Primary color */
$cor-cinza-bem-claro: #eee;
$cor-cinza-claro: #aaa;
$cor-cinza-escuro: #222;
$cor-cinza-bem-escuro: #0C0606;

$cor-branco: #fff;

$cor-fonte-padrao: $cor-cinza-padrao;
$background-padrao:$cor-cinza-bem-claro;

$font-family: 'Roboto', sans-serif;