.icone{
    
    &-Esporte{
        @extend .pega-imagem;
        background-image: url(icones/futebol.svg);
        @include icones(32px);
    }
    
    &-Jogos{
        background-image: url(icones/videogame.svg);
        @extend .pega-imagem;
        @include icones(32px);
        height: 23px;
    }
    
}