.bar.bar-stable{
    border-color: none;
}
body{
    font-family: $font-family;
    @extend .border-box;
    
    .view-container{
        @extend .border-box;
        
        input.ng-pristine, input.ng-valid{
            position: absolute;
            width: 95%;
            z-index: 10;
            left: 2.5%;
            top:0.3em;
            border: 1px solid rgba(0,0,0,0.2);
            @extend .border-box;
            padding: 0.5em;
            background-color: rgba(255,255,255,0.9);
            color: $cor-fonte-padrao;
        }
        
        .pane{
            @extend .border-box;
            background-color: $cor-verde-escuro;
            border-color: transparent;
            
            .bar-stable{
                background-color: transparent;
            }
            
            .menu-content{
                
                .nav-bar-container{
                    
                    .nav-bar-block{
                        
                        .bar-stable{
                            background-color: $cor-verde-bem-escuro;
                            color:$cor-branco;
                            border-color: transparent;
                        }
                        
                        .button{
                            color:$cor-branco;
                        }
                        
                        .title{
                            color:$cor-branco;
                        }
                        
                    }
                }
                
            }
        }
        
        .view{
            @extend .border-box;
        }
        
        .menu.menu-left{
            background-color: $cor-verde-escuro;
            
            .bar-header{
                background-color: $cor-verde-bem-escuro;
                border:none;
                position: relative;
                
                h1{
                    color: $cor-branco;
                }
                &:after {
                    top: 100%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(136, 183, 213, 0);
                    border-top-color: $cor-verde-bem-escuro;
                    border-width: 0.5em;
                    margin-left: 1em;
                }
            }
            
            .item{
                border-color: transparent;
                
                a{
                    &.item-content{
                        background-color: $cor-verde-escuro;
                        color: $cor-branco;
                        border-bottom: 1px dotted rgb(255,255,255);
                        border-bottom: 1px dotted rgba(255,255,255, 0.5);
                    }
                }
                background-color: $cor-verde-escuro;
            }
        }
        
        .button-full {
            background-color: $cor-laranja-padrao;
            color: $cor-branco;
            border-color: $cor-laranja-escuro;
        }
        
        .padding {
            .card{
                @include espacamento;
            }
        }
        
        .checkbox {
            input{
                position: absolute;
                top:0;
                right: 0;
                
                &:before{
                    background: transparent;
                    border-color: transparent;
                }
                
                &:after{
                    border-color: transparent;
                }
                
                &:checked{
                    background: orange;
                    border-color: transparent;
                }
            }
        }
        label.checkbox{
            padding: 0.5em 0.5em 0.5em 3em !important;
            @extend .border-box;
            display: block;
            color: $cor-branco;
            font-size: 1.25em;
            font-weight: 300;
        }
        
        .list{
            background-color: transparent;
            border-color: transparent;
            @include border-radius;
            @extend .sem-box-shadow;
            
            .item{
                background-color: transparent;
                border-color: transparent;
                @extend .sem-box-shadow;
                @include espacamento(0, 1em);
                border-bottom: 1px solid $cor-verde-padrao;
                margin-bottom: 0.2em;
            
                &.selecionado{
                    background-color: $cor-verde-claro;
                    border-bottom: 1px solid $cor-verde-padrao;
                    
                    input{
                        background-image: url(img/favorito.svg);
                        @include icones;
                        @extend .pega-imagem;
                        width: 2em;
                        height: 2em;
                        width: 3em;
                        height: 3em;
                        top: -1.5em;
                        right: -1.5em;
                    }
                }

                
                .checkbox{
                    position: relative;
                    @include espacamento;
                    top:0;
                    right: 0;
                    left: 0;
                }
            }
        }
    }
}