@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic);
.border-box, body, body .view-container, body .view-container input.ng-pristine, body .view-container input.ng-valid, body .view-container .pane, body .view-container .view, body .view-container label.checkbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.background-cover, .pega-imagem, body .view-container .list .item.selecionado input, .icone-Esporte, .icone-Jogos {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.pega-imagem, body .view-container .list .item.selecionado input, .icone-Esporte, .icone-Jogos {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-backgorund-size: countain;
  -moz-backgorund-size: countain;
  -ms-backgorund-size: countain;
  -o-backgorund-size: countain;
  backgorund-size: countain; }

.sem-box-shadow, body .view-container .list, body .view-container .list .item {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.bar.bar-stable {
  border-color: none; }

body {
  font-family: "Roboto", sans-serif; }
  body .view-container input.ng-pristine, body .view-container input.ng-valid {
    position: absolute;
    width: 95%;
    z-index: 10;
    left: 2.5%;
    top: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.9);
    color: #444444; }
  body .view-container .pane {
    background-color: #03634E;
    border-color: transparent; }
    body .view-container .pane .bar-stable {
      background-color: transparent; }
    body .view-container .pane .menu-content .nav-bar-container .nav-bar-block .bar-stable {
      background-color: #003B2E;
      color: #fff;
      border-color: transparent; }
    body .view-container .pane .menu-content .nav-bar-container .nav-bar-block .button {
      color: #fff; }
    body .view-container .pane .menu-content .nav-bar-container .nav-bar-block .title {
      color: #fff; }
  body .view-container .menu.menu-left {
    background-color: #03634E; }
    body .view-container .menu.menu-left .bar-header {
      background-color: #003B2E;
      border: none;
      position: relative; }
      body .view-container .menu.menu-left .bar-header h1 {
        color: #fff; }
      body .view-container .menu.menu-left .bar-header:after {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #003B2E;
        border-width: 0.5em;
        margin-left: 1em; }
    body .view-container .menu.menu-left .item {
      border-color: transparent;
      background-color: #03634E; }
      body .view-container .menu.menu-left .item a.item-content {
        background-color: #03634E;
        color: #fff;
        border-bottom: 1px dotted white;
        border-bottom: 1px dotted rgba(255, 255, 255, 0.5); }
  body .view-container .button-full {
    background-color: #F39200;
    color: #fff;
    border-color: #B26B00; }
  body .view-container .padding .card {
    margin: 0;
    padding: 0; }
  body .view-container .checkbox input {
    position: absolute;
    top: 0;
    right: 0; }
    body .view-container .checkbox input:before {
      background: transparent;
      border-color: transparent; }
    body .view-container .checkbox input:after {
      border-color: transparent; }
    body .view-container .checkbox input:checked {
      background: orange;
      border-color: transparent; }
  body .view-container label.checkbox {
    padding: 0.5em 0.5em 0.5em 3em !important;
    display: block;
    color: #fff;
    font-size: 1.25em;
    font-weight: 300; }
  body .view-container .list {
    background-color: transparent;
    border-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    body .view-container .list .item {
      background-color: transparent;
      border-color: transparent;
      margin: 0;
      padding: 1em;
      border-bottom: 1px solid #13846B;
      margin-bottom: 0.2em; }
      body .view-container .list .item.selecionado {
        background-color: #369882;
        border-bottom: 1px solid #13846B; }
        body .view-container .list .item.selecionado input {
          background-image: url(img/favorito.svg);
          width: 32px;
          height: 32px;
          margin: 0.5em;
          padding: 0;
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          width: 2em;
          height: 2em;
          width: 3em;
          height: 3em;
          top: -1.5em;
          right: -1.5em; }
      body .view-container .list .item .checkbox {
        position: relative;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        left: 0; }

.icone-Esporte {
  background-image: url(icones/futebol.svg);
  width: 32px;
  height: 32px;
  margin: 0.5em;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  position: absolute; }
.icone-Jogos {
  background-image: url(icones/videogame.svg);
  width: 32px;
  height: 32px;
  margin: 0.5em;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  height: 23px; }

/*# sourceMappingURL=style.css.map */
