<ion-view view-title="Tribos">
  <ion-content class="padding" ng-controller="TribosCtrl">
    <input type="text" ng-model="termoDaBusca" ng-change="buscar()" placeholder="Pesquise a sua tribo" />

    <div id="mapa" style="height: 350px;"></div>

    <div class="card" ng-repeat="tribo in tribosPertos">
      <div class="item item-text-wrap">
        <strong>Tribo de {{tribo.categoria}} </strong>
        <br />
        <strong>Distância: </strong><span>{{coordenada | distance: tribo.coordenada}} de você</span>
        <br />
        <strong>Último encontro: </strong><span>{{tribo.dataFormatada}}</span>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <strong>45 </strong>
        <span>pessoas em até 5km com interesses similares ao seus</span>
      </div>
    </div>
  </ion-content>
</ion-view>