<ion-view view-title="Tribos">
  <ion-content class="padding" ng-controller="TribosCtrl">
    <input type="text" ng-model="termoDaBusca" ng-change="buscar()" />

    <div id="mapa" style="height: 350px;"></div>

    <div class="card">
      <div class="item item-text-wrap">
        <strong>40 </strong>
        <span>pessoas com interesses similares aos seus</span>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <strong>1 </strong>
        <span>grupo de seu interesse</span>
      </div>
    </div>
  </ion-content>
</ion-view>